<% attributes.each do |attribute| -%>
<div>
  <label><%= attribute[:name].titleize -%> {{input value=<%= attribute[:name].camelize(:lower) -%> class='<%= file_name.dasherize -%>-<%= attribute[:name].dasherize -%>'}}</label>
</div>
<% end -%>

<button type="submit" {{action 'save' this}}>Save</button>
<button type="submit" {{action 'cancel' this}}>Cancel</button>
