<% attributes.each do |attribute| -%>
<div>
  <label><%= attribute[:name].titleize -%>
    {{input value=<%= attribute[:name].camelize(:lower) -%>}}
  </label>
</div>
<% end -%>

<button type="submit" {{action save this}}>Save</button>
<button type="submit" {{action cancel this}}>Cancel</button>
