<h3>Index</h3>

<p>{{link-to 'New <%= file_name.singularize -%>' '<%= file_name.pluralize -%>.new'}}</p>

<table>
  <tr>
    <th>id</th>
<% attributes.each do |attribute| -%>
    <th><%= attribute[:name].titleize -%></th>
<% end -%>
  </tr>
  {{#each}}
    <tr class='<%= file_name.dasherize -%>'>
      <td>{{link-to id '<%= file_name.pluralize -%>.show' this}}</td>
<% attributes.each do |attribute| -%>
      <td>{{<%= attribute[:name].camelize(:lower) -%>}}</td>
<% end -%>
    </tr>
  {{/each}}
</table>
