<h3>{{id}}</h3>

<p>{{link-to 'Edit' '<%= file_name.pluralize -%>.edit' this}} <button {{action 'destroyRecord' this}}>Destroy</button></p>

<ul>
<% attributes.each do |attribute| -%>
  <li class='<%= file_name.dasherize -%>-<%= attribute[:name].dasherize -%>'><%= attribute[:name].titleize -%>: {{<%= attribute[:name] -%>}}</li>
<% end -%>
</ul>
