<h1>Welcome to Ember!</h1>

<div>
  <p>Congratulations on building your first Ember application. That was easy, wasn't it?</p>
  <p>Try some simple Ember magic: {{input value=someText name="sampleInput"}}</p>
  <p>{{someText}}</p>
</div>
